<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yahier.androidtest"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
    <application
        android:name=".App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".metarial.MainAct"
            android:label="yahier测试"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- material -->
        <activity
            android:name=".metarial.Material1Act"
            android:launchMode="singleTask"
            android:process="com.yahier.androidtest.remote" />
        <activity
            android:name=".metarial.RecycleAct"
            android:process=":remote" />
        <activity android:name=".metarial.CardViewAct" />
        <activity android:name=".util.ApacheCommonTestAct" />
        <activity android:name=".bitmap.MatrixTest" />
        <activity android:name=".bitmap.PorterDuffTest" />
        <activity android:name=".content.provider.TestCPActivity" />
        <activity android:name=".service.ServiceActivity" />
        <activity android:name=".service.ActivityMessenger" />
        <activity android:name=".service.AccessServiceAct" />
        <activity android:name=".multipleThreads.SynchonizedTest" />
        <activity android:name=".multipleThreads.OperateUiThreadAct" />
        <activity android:name=".common.ReflectTest" />
        <activity android:name=".test.DrawableAct" />

        <activity android:name=".MediaPlayerTest" />

        <!-- binding开始 -->
        <activity android:name=".databinding.Test1Act" />
        <activity android:name=".databinding.Test2Act" />
        <activity android:name=".databinding.Test3Act" />
        <activity android:name=".databinding.Test4Act" />
        <activity android:name=".databinding.Test5Act" />
        <activity android:name=".databinding.Test6Act" />
        <activity
            android:name=".view.act.DrawableStyleAct"
            android:theme="@style/logo" />
        <!-- view测试 -->
        <activity
            android:name=".viewtest.SwipeRefreshLayoutTest"
            android:label="SwipeRefreshLayout" />
        <activity
            android:name=".test.HandlerTest"
            android:label="CanvasTest" />
        <activity
            android:name=".test.JavaUpperAct"
            android:label="SwipeRefreshLayout" />
        <activity
            android:name=".test.AppLinkTestAct"
            android:label="AppLinkTestAct">

            <!-- 以下的申明可以起到什么作用呢。根据以前经验，是在webview时有效果 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="yaya" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.baidu.com" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity" />
        <activity
            android:name=".viewtest.CanvasTest"
            android:label="CanvasTest" />

        <activity
            android:name=".multipleThreads.ThreadPoolAct"
            android:label="线程池" />

        <service android:name=".service.OneService" />
        <service android:name=".service.MessengerService" />
        <service android:name=".service.MyIntentService" />

        <activity
            android:name=".view.act.SwipeBackMainActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.WebViewAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bitmap.ChooseImgTestAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.SwipeBackSecondActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.CustomRoungImgAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.GlideTestAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.DrawerLayoutActTest"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.ViewLocationAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multipleThreads.TestHandlerThreadAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multipleThreads.TestIntentServiceAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bitmap.ViewToBitmapAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".data.LogTest"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.CommonViewTest"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.HtmlAllTestActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity android:name=".test.WindowTest" />
        <activity android:name=".metarial.VectorSVNAct" />
        <activity android:name=".view.act.MotionEventAct" />
        <activity android:name=".test.TestNotificationAct" />
        <activity android:name=".test.BroadCastActTest" />
        <activity android:name=".view.act.MyLayoutAct" />
        <activity
            android:name=".test.ConfigChangesActTest"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".classload.LoaderAct" />
        <activity android:name=".bitmap.LargeImageViewActivity" />
        <activity android:name=".view.act.ParallaxVpTestActivity" />
        <activity android:name=".view.act.SurfaceViewTestAct" />
        <activity android:name=".ui.test.StatusBarFitColorAct" />
        <activity android:name=".view.act.ConstraintLayoutTest" />
        <activity
            android:name=".metarial.CollapsingToolbarLayoutTest"
            android:theme="@style/AppBaseTheme" />

        <receiver android:name=".test.MyBraodCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/access_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!-- <service -->
        <!-- android:name="cn.jpush.android.service.PushService" -->
        <!-- android:process=":multiprocess" -->
        <!-- tools:node="replace"> -->
        <!-- </service> -->
        <activity android:name=".kotlin.Main2Activity" />
    </application>

</manifest>