<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yahier.androidtest"
    android:versionCode="1"
    android:versionName="1.0" >


    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:label="material测试"
            android:name=".metarial.MainAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ver.tab.LoveAsk" />
        <activity android:name=".ver.tab.LoveHelp" />
        <activity android:name=".ver.tab.LoveHeart" />

        <!-- material -->
        <activity android:name=".metarial.Material1Act" />
        <activity android:name=".metarial.RecycleAct" />
        <activity android:name=".metarial.CardViewAct" />

    </application>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>