<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yahier.androidtest">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <!-- android.permission.DOWNLOAD_WITHOUT_NOTIFICATION -->

    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> -->
    <application
        android:appComponentFactory="yahier"
        tools:replace="android:appComponentFactory"
        android:name=".App"
        android:icon="@drawable/wukong"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".metarial.MainAct"
            android:label="yahier测试"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:label="yahier别名"
            android:name="changeIcon"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:targetActivity=".metarial.MainAct" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- material -->
        <activity
            android:name=".metarial.Material1Act"
            android:launchMode="singleTask"
            android:process="com.yahier.androidtest.remote" />
        <activity
            android:name=".metarial.RecycleAct"
            android:process=":remote" />
        <activity android:name=".metarial.CardViewAct" />
        <activity android:name=".util.ApacheCommonTestAct" />
        <activity android:name=".bitmap.MatrixTest" />
        <activity android:name=".bitmap.PorterDuffTest" />
        <activity android:name=".content.provider.TestCPActivity" />
        <activity android:name=".service.ServiceActivity" />
        <activity android:name=".service.ActivityMessenger" />
        <activity android:name=".service.AccessServiceAct" />
        <activity android:name=".multipleThreads.SynchonizedTest" />
        <activity android:name=".multipleThreads.OperateUiThreadAct" />
        <activity android:name=".common.ReflectTest" />
        <activity android:name=".test.DrawableAct" />

        <activity android:name=".MediaPlayerTest" />
        <activity android:name=".ui.test.RecyclerMoveAct" />
        <!-- binding开始 -->
        <activity android:name=".ui.test.ChartAct" />
        <activity android:name=".ui.test.SmartRefreshAct" />
        <activity
            android:name=".view.act.DrawableStyleAct"
            android:theme="@style/logo" />
        <!-- view测试 -->
        <activity android:name=".view.act.MixImgAct" />
        <activity
            android:name=".test.WorkManagerAct"
            android:label="WorkManager 调度任务" />
        <activity
            android:name=".viewtest.SwipeRefreshLayoutTest"
            android:label="SwipeRefreshLayout" />
        <activity
            android:name=".test.HandlerTest"
            android:label="CanvasTest" />
        <activity
            android:name=".test.JavaUpperAct"
            android:label="SwipeRefreshLayout" />
        <activity
            android:name=".test.AppLinkTestAct"
            android:label="AppLinkTestAct">

            <!-- 以下的申明可以起到什么作用呢。根据以前经验，是在webview时有效果 -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="yaya" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="www.baidu.com" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity" />
        <activity
            android:name=".viewtest.CanvasTest"
            android:label="CanvasTest" />

        <activity
            android:name=".multipleThreads.ThreadPoolAct"
            android:label="线程池" />

        <service android:name=".service.OneService" />
        <service android:name=".service.MessengerService" />
        <service android:name=".service.MyIntentService" />

        <activity android:name=".activity.EventActivity" />

        <activity
            android:name=".view.act.SwipeBackMainActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.ServerStressTestAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.WebViewAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bitmap.ChooseImgTestAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.SwipeBackSecondActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.LazyFragmentAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.CustomRoungImgAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.GlideTestAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.DrawerLayoutActTest"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.ViewLocationAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multipleThreads.TestHandlerThreadAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".multipleThreads.TestIntentServiceAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bitmap.ViewToBitmapAct"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".data.LogTest"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.act.CommonViewTest"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".download.DownTest"
            android:label="断点续传"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.HtmlAllTestActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity android:name=".test.WindowTest" />
        <activity android:name=".metarial.VectorSVGAct" />
        <activity android:name=".view.act.MotionEventAct" />
        <activity android:name=".test.TestNotificationAct" />
        <activity android:name=".activity.ActivityHookTest" />
        <activity android:name=".test.BroadCastActTest" />
        <activity android:name=".view.act.MyLayoutAct" />
        <activity
            android:name=".test.ConfigChangesActTest"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".classload.LoaderAct" />
        <activity android:name=".bitmap.LargeImageViewActivity" />
        <activity android:name=".view.act.ParallaxVpTestActivity" />
        <activity android:name=".view.act.SurfaceViewTestAct" />
        <activity android:name=".ui.test.StatusBarFitColorAct" />
        <activity
            android:name=".ui.test.AwardAct"
            android:label="抽奖测试" />
        <activity android:name=".view.act.ConstraintLayoutTest" />
        <activity android:name=".view.act.ConstraintLayout2Test" />
        <activity android:name=".ui.test.PropertyAnimaAct" />
        <activity android:name=".ui.test.MotionLayoutAct" />
        <activity android:name=".view.act.BottomDrawerAct" />
        <activity android:name=".download.DownloadManagerTestAct" />
        <activity
            android:name=".activity.MonitorUiBlockActivity"
            android:label="ui线程卡顿监听" />
        <activity
            android:name=".metarial.CollapsingToolbarLayoutTest"
            android:theme="@style/AppBaseTheme" />

        <receiver android:name=".test.MyBraodCastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".download.DownManageReceiver">
            <intent-filter>
                <action android:name="DownloadManager.ACTION_DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!--接收极光推送-->
        <receiver
            android:name=".test.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.yahier" />
            </intent-filter>
        </receiver>


        <service
            android:name=".service.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/access_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace">

        </service>

        <activity android:name=".kotlin.Main2Activity" />
    </application>

</manifest>